{<<"app">>,<<"steamroller">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"An opinionated Erlang code formatter.">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/steamroller.app.src">>,<<"src/steamroller.erl">>,
  <<"src/steamroller_algebra.erl">>,<<"src/steamroller_ast.erl">>,
  <<"src/steamroller_formatter.erl">>,<<"src/steamroller_prv.erl">>,
  <<"src/steamroller_utils.erl">>,<<"src/steamroller_worker.erl">>,
  <<"src/steamroller_worker_sup.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/old-reliable/steamroller">>}]}.
{<<"name">>,<<"steamroller">>}.
{<<"requirements">>,
 [{<<"providers">>,
   [{<<"app">>,<<"providers">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.8.1">>}]}]}.
{<<"version">>,<<"0.14.3">>}.
