@font-face {
  font-family: "JuliaMonoCardSet";
  src: url(../fonts/JuliaMonoCardSet-Regular.woff2) format("woff2");
}
main {
  font-family: serif;
}
section {
  margin: 0 auto;
}
#informationsection {
  text-align: center;
}
#pointsthing{
  display: grid;
  grid-template-columns: repeat(3, auto);
}
#teampoints{grid-column: 1; grid-row: 1;}
#currentgameinstruction{grid-column: 2; grid-row: 1;display: none;}/*TODO update this eventually*/
#feedback{display: none;}/*TODO update this eventually*/
#adversarypoints{grid-column: 3; grid-row: 1;}
#bettingsection {
  text-align: center;
}
#gamesection {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  font-family: JuliaMonoCardSet;
}
#table {grid-column: 2; grid-row: 2; display: grid; grid-template-columns: repeat(3, auto);}
#discard {grid-column: 2; grid-row: 3;}
#mainjoueurhaut {grid-column: 2; grid-row: 1;}
#carte-haut {grid-column:2; grid-row: 1; transform: rotate(180deg);}
#mainjoueurdroite {grid-column: 3; grid-row: 2;}
#carte-droite {grid-column:3; grid-row: 2; transform: rotate(270deg);}
#mainjoueurbas {grid-column: 2; grid-row: 4;}
#carte-bas {grid-column:2; grid-row: 3; transform: rotate(0deg);}
#mainjoueurgauche {grid-column: 1; grid-row: 2;}
#carte-gauche {grid-column:1; grid-row: 2; transform: rotate(90deg);}
.card {
  border: none;
  font-family: inherit;
  font-size: 4em;
  background: white;
  vertical-align:bottom;
  padding: 0;
  color: black;
  font-family: JuliaMonoCardSet;
}
.card:disabled {
  color: black;
}
.card:active {
  color: grey;
}
.card.inhand {
  margin-right: -0.25em;
  padding-top: 1em;
  padding-bottom: 0;
}
.card.inhand:hover {
  margin-left: 0.25em;
  margin-right: 0em;
  padding-top: 0;
  padding-bottom: 1em;
  transition-duration: 100ms;
}
.card.inhand.playerhand {
  font-size: 6em;
}
.card.hidelastround {
  visibility: hidden;
}
.yeeted {display: none;}
.yotted {visibility: hidden;}
